<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}
{% block body_block %}

    <div class="container-md">
        <h1 class="display-4">About Me</h1>
        <hr class="my-4">

            <p>
                At present, I am seeking a fresh challenge and I am passionate in utilising my skills and experience to work in the IT sector where I have knowledge of Python programming language, libraries for data visualization, analysis and web development using HTML, CSS and JavaScript. 
            <br>  
            <br>  
                The breadth of my expertise covers a wide range of experience working with notable success currently as Team Manager at Getinge UK. Here, I lead a team of Engineers and provide technical support and training to engineers, as well as customers and ensure the achievement of all KPIs and objectives. 
            <br>  
            <br>  
                I am an individual with an exceptionally strong work ethic, an ambitious professional and team player. I am recognised for working well in a team and independently, problem solving and working with great attention to detail.  I always tend to focus on the end result, I confidently adhere to strict deadlines, managing project processes, and can confidently manage the workload of staff, and myself and I work extremely well under pressure.
            <br>  
            <br>   
                I am incredibly self-motivated and driven with strong written and verbal communication skills. I am recognised for my adaptable leadership ability, with a passion to succeed.  I would bring to your company not only these attributes, but also a positive, pro-active, co-operative and ‘ready to deliver’ attitude that I have displayed throughout my previous roles.   
            <br>  
            <br>   
                Ultimately, I am keen to provide a committed and loyal service to your company by enhancing the overall planning and execution of general management objectives, thus ensuring success to my colleagues, organisation and clients.
                                
            </p>
    </div>


{% endblock %}
