<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}




{% block body_block %}

<div class="container-sm">
        <div id="myPageContent" class="container-fluid">
                <section id="home">
                                 
                <div id="textSlider" class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 iamCol">
                                        <p class ="awesome">Karolis</p>
                                        <p class ="awesome">Kimtys</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 slideCol">
                                        <div class="scroller">
                                            <div class="inner">
                                                <p class ="awesome">I write code</p>
                                                <p class ="awesome">I develop websites</p>
                                                <p class ="awesome">I develop applications</p>
                                                <p class ="awesome">I solve problems</p>
                                                <p class ="awesome">I love what I do!</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                </div>
                             
                </section>
        </div>

    <img src="" alt="">
</div>

{% endblock %}
